.hero {
  position: relative;
 background: linear-gradient(to bottom, #2e2e2e 0%, #afabab 60%, #2e2e2e 100%);
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero-overlay {
  
  padding: 40px;
  color: white;
}

.tagline {
  font-size: 36px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #e5c17c;
  font-family: 'Poppins', sans-serif;
  font-weight:300;
}

.hero-heading {
  font-size: 112px;
  margin: 20px 0;
  line-height: 1.3;
  font-family: 'Forum', serif;
  font-weight: 400;
}

.discover-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  margin-top: 40px;
}

.line {
  height: 1px;
  width: 220px;
  background-color: white;
  opacity: 0.5;
}

.discover-btn {
  background-color: transparent;
  border: none;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 6px;
}

.discover-btn .arrow {
  font-size: 14px;
}
.hero-arrows {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 40px;
}

.arrow-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid white;
  color: white;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.arrow-btn:hover {
  background-color: rgba(255, 255, 255, 0.25);
}

