.navbar {
  background-color: #2D2C2C;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  height: 100px; /* you can adjust this based on image */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-image {
  height: 80px; /* Adjust based on your image size */
  width: auto;
  object-fit: contain;
}
